*.pyc
*.ipynb
**/create_cards.py
**/create_transactions.py
just_qr/
pdfs/
**/ai_fill.just_qr
*.ai
*.zip
*.env
.env
# **/create_transactions.py
# **/create_cards.py
# **/create_users.py
card_images.zip
my_secrets.py
**/.DS_Store
**/.ipynb_checkpoints
