<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% extends 'base.html' %}

  {% block title %}
  Registrar Gasto
  {% endblock %}
  {% block content %}

  <style>
    .card-header {
      background-color: #007bff;  /* Bootstrap primary color */
      color: white;  /* White text color */
      padding: 10px 20px;  /* Padding for aesthetic spacing */
    }
    .card-title {
      margin-bottom: 0;  /* Remove bottom margin for cleaner look */
    }
  </style>

  <!-- Bootstrap CSS (Already included in base.html) -->
  <!-- Bootstrap JS (Optional, if you need JavaScript functionality for buttons) -->
</head>

<body>
  <div class="container py-5">
    <!-- Page Header -->
    <div class="row mb-4">
      <div class="col text-center">
        <h2 class="mb-3">Registrar Gasto</h2>
      </div>
    </div>

    <!-- Conditional Alerts -->
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Hubo un error. Revisa que el PIN del cliente sea correcto
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if bal_error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Fondos insuficientes
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <!-- Form Section -->
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-header">
              <h4 class="card-title text-center">Fondos Disponibles: <strong>${{ cur_bal }}</strong></h4>
          </div>
          <div class="card-body">
            <form method="POST" action="{{ url_for('save_expense') }}"  autocomplete="off">
              <input type="hidden" name="card_id" value="{{ card_id }}">
              <div class="mb-3">
                <label for="amount" class="form-label">Cantidad</label>
                <input type="number" class="form-control" id="amount" name="amount" placeholder="Ingresa la cantidad" required>
              </div>

              {% if pin_created %}  
              <div class="mb-3">
                <label for="pin" class="form-label">PIN</label>
                <input type="pin" id="pin" name="pin" placeholder="Ingresa el PIN del cliente" required
                inputmode="numeric" pattern="[0-9]*">
              </div>
              {% endif %}

              <button type="submit" class="btn btn-primary w-100">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}
